
@{
    ViewData["Title"] = "cancelled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Cancellation is successfull! You will be levied cancellation charge of @ViewBag.cancelcharges$. Remaining amount will be credited to your account soon</h3>

