@model HotelManagement.Models.passwordModel

@{
    ViewData["Title"] = "changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        padding-top: 10px;
    }
</style>
<br />
<hr />
<div class="row" style="display:flex; justify-content:center;">
    <div class="col-md-4">
        <form asp-action="changepassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="currentpassword" class="control-label"></label>
                <input asp-for="currentpassword" class="form-control" />
                <span asp-validation-for="currentpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newpassword" class="control-label"></label>
                <input asp-for="newpassword" class="form-control" />
                <span asp-validation-for="newpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmnewpassword" class="control-label"></label>
                <input asp-for="confirmnewpassword" class="form-control" />
                <span asp-validation-for="confirmnewpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


