@model IEnumerable<HotelManagement.Models.topCustomersModel>

@{
    ViewData["Title"] = "gettopcustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Top Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalbookings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalbookings)
            </td>
        </tr>
}
    </tbody>
</table>
