

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img
    {
        width:1300px;
        height:500px
    }
</style>
<h2>Welcome to our haven of hospitality, where every stay is a story worth sharing.</h2>
<br /><br />

<ul>
<li>Book and Cancel Rooms 24/7 any day</li>
<li>View your booking history</li>
<li>Submit Feedbacks</li>
<li>Book Rooms of your choice</li>
</ul>

<img src="~/homepage.jpg" />

