@model HotelManagement.Models.paymentModel

@{
    ViewData["Title"] = "payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        padding-top: 10px;
    }
</style>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Room Cost : 
                @ViewBag.roomcost                
            </div>
            <div class="form-group">
                Tax : 
                @ViewBag.tax
            </div>
            <div class="form-group">
                Total Amount to Pay :
                <input type="text" readonly value="@ViewBag.cost" />
            </div>
            <div class="form-group">
                <label asp-for="cardnumber" class="control-label"></label>
                <input asp-for="cardnumber" class="form-control" />
                <span asp-validation-for="cardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvv" class="control-label"></label>
                <input asp-for="cvv" class="form-control" />
                <span asp-validation-for="cvv" class="text-danger"></span>
            </div>
            <br />
            <b>Billing Address Details : </b>
            <br />
            <div class="form-group">
                <label asp-for="streetaddress" class="control-label"></label>
                <input asp-for="streetaddress" class="form-control" />
                <span asp-validation-for="streetaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zipcode" class="control-label"></label>
                <input asp-for="zipcode" class="form-control" />
                <span asp-validation-for="zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


