
@{
    ViewData["Title"] = "reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <div class="button">
            @Html.ActionLink("Show All Customers", "getallcustomers")
        </div>
        <div class="button">
            @Html.ActionLink("View Active Bookings", "getactivebookings")
        </div>
        <div class="button">
            @Html.ActionLink("Show Top Customers", "gettopcustomers")
        </div>
    </div>
    <div>

    </div>
</div>


